/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.ticketGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px;
  
}

.ticket {
  background-color: lightgreen;
  filter: drop-shadow(2px 4px 4px black);
  width: 85%;
  height: 3rem;
display: grid;
  grid-template-columns: 5fr 1fr;
  margin: auto;
}

  .ticket > div {

  margin: auto;

  }

  .ticket:hover {
    filter: drop-shadow(2px 4px 4px blue);
  }



app-add-ticket {
  display: grid;
  grid-template-columns: 1fr 1fr;
margin: 5px;
grid-gap: 5px;
border: 2px solid black;
padding: 5px;
}

app-add-ticket > div{
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

textarea{
min-height: 2rem;
}

@media screen and (max-width: 1000px) {
  .ticketGrid {
    grid-template-columns: 1fr 1fr;
  }
}
